extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nibh turpis, hendrerit eu feugiat at, consectetur non risus. Donec consectetur luctus faucibus. Proin viverra libero ante, in convallis leo fringilla vitae. Proin malesuada enim ut ipsum eleifend, eu semper justo scelerisque. 

                p Mauris auctor, velit nec scelerisque ultricies, lorem sapien laoreet odio, quis egestas ligula augue ac elit. Sed venenatis massa non nisl consequat lobortis. Nullam molestie lobortis eros, vel consectetur nulla rutrum a. Nullam sem nisl, ultricies sed ligula sed, gravida mollis odio. 

                p Nullam porttitor lorem quis velit porta venenatis. Cras rutrum elit lacus, ac tincidunt sem posuere quis. Maecenas consectetur accumsan urna, non ultricies nunc dictum ac. Suspendisse mattis augue sit amet elit tristique dignissim. Curabitur egestas ullamcorper elit, ut luctus mauris volutpat sed. Cras finibus tristique lacus, ac pretium ex eleifend sed. Aliquam at felis vestibulum, congue purus nec, blandit nulla. Nullam tincidunt, risus sed vulputate egestas, nisl sapien auctor nulla, quis elementum turpis ipsum in risus. Donec luctus nisl nec blandit lacinia. Maecenas ac neque tortor.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nullam porttitor lorem quis velit porta venenatis. Cras rutrum elit lacus, ac tincidunt sem posuere quis.
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Nullam porttitor lorem quis velit porta venenatis. Cras rutrum elit lacus, ac tincidunt sem posuere quis.
                .col-md-4
                    img(src="/img/icono_precio.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precio
                    p Nullam porttitor lorem quis velit porta venenatis. Cras rutrum elit lacus, ac tincidunt sem posuere quis.